ServeurSOAP_robot/src/conf/xml-resources/web-service-references/Robot/wsdl/localhost_8080/ServeurSOAP_robot/Robot.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveur/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveur/" name="Robot">
<wsp:Policy wsu:Id="RobotPortBindingPolicy"/>
<wsp:Policy xmlns:wsat200410="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="RobotPortBinding_initsimul_Policy">
<wsat200410:ATAssertion xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns1:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://serveur/" schemaLocation="http://localhost:8080/ServeurSOAP_robot/Robot?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="somme">
<part name="parameters" element="tns:somme"/>
</message>
<message name="sommeResponse">
<part name="parameters" element="tns:sommeResponse"/>
</message>
<message name="init simul">
<part name="parameters" element="tns:init simul"/>
</message>
<message name="init simulResponse">
<part name="parameters" element="tns:init simulResponse"/>
</message>
<portType name="Robot">
<operation name="hello">
<input wsam:Action="http://serveur/Robot/helloRequest" message="tns:hello"/>
<output wsam:Action="http://serveur/Robot/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="somme">
<input wsam:Action="http://serveur/Robot/sommeRequest" message="tns:somme"/>
<output wsam:Action="http://serveur/Robot/sommeResponse" message="tns:sommeResponse"/>
</operation>
<operation name="init simul">
<input wsam:Action="http://serveur/Robot/init simulRequest" message="tns:init simul"/>
<output wsam:Action="http://serveur/Robot/init simulResponse" message="tns:init simulResponse"/>
</operation>
</portType>
<binding name="RobotPortBinding" type="tns:Robot">
<wsp:PolicyReference URI="#RobotPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="init simul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Robot">
<port name="RobotPort" binding="tns:RobotPortBinding">
<soap:address location="http://localhost:8080/ServeurSOAP_robot/Robot"/>
</port>
</service>
</definitions>