ServeurSOAP_robot/web/WEB-INF/wsit-serveur.Robot.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Robot" targetNamespace="http://serveur/" xmlns:tns="http://serveur/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="somme"/>
    <message name="sommeResponse"/>
    <message name="initsimul"/>
    <message name="initsimulResponse"/>
    <portType name="Robot">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="somme">
            <input message="tns:somme"/>
            <output message="tns:sommeResponse"/>
        </operation>
        <operation name="initsimul">
            <input message="tns:initsimul"/>
            <output message="tns:initsimulResponse"/>
        </operation>
    </portType>
    <binding name="RobotPortBinding" type="tns:Robot">
        <wsp:PolicyReference URI="#RobotPortBindingPolicy"/>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="somme">
            <input/>
            <output/>
        </operation>
        <operation name="initsimul">
            <wsp:PolicyReference URI="#RobotPortBinding_initsimul_Policy"/>
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="Robot">
        <port name="RobotPort" binding="tns:RobotPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="RobotPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="RobotPortBinding_initsimul_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsat:ATAssertion wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
